*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

footer{
    text-align: center;
    padding: 10px;
    font-size: 150%;
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}

footer:hover{
    font-size: 155%;
    color: black;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(206, 165, 216);
    background-color: black;
    background-image: linear-gradient(to right, rgb(0, 0, 0),violet);
}

.wraper{
    display: flex;
    flex-wrap: wrap;
}

.titulo h2{
    width: 100%;
    text-align: center;
    padding: 10px;
    background-image: linear-gradient(red, yellow);
    font-size: 300%;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: #fff;
}

.titulo h2:hover{
    background-image: linear-gradient(yellow, red);
    color: rgb(255, 255, 255);
}

.imgs{
    background-image: linear-gradient(red, yellow, green);
}

.imgs, .imgs .wraper .img{
    padding: 5px;
}

.wraper .img{width: 25%;}

img{max-width: 100%;}

@media screen and (max-width: 1024px){
    .wraper .img {width: 33.3%;}
}

@media screen and (max-width: 768px){
    .wraper .img {width: 50%;}
    .titulo h2{font-size: 250%;}
}

@media screen and (max-width: 580px){
    .wraper .img{width:100%}
    .titulo h2{font-size: 200%;}
}